[Unit]
Description=Mini Pupper Joystick service

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/mini_pupper_ros_bsp/services/joystick.py
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
