[Unit]
Description=servo_interface service

[Service]
User=ubuntu
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /home/ubuntu/mini_pupper_ros_bsp/services/servo_interface.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
