[Unit]
Description=v4l2-camera service
Requires=robot-ros.service
After=robot-ros.service

[Service]
User=ubuntu
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /home/ubuntu/mini_pupper_ros_bsp/services/v4l2_camera.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
